<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>: ${TM_HLINT:=hlint}
require_cmd "$TM_HLINT"

"$TM_HLINT" "$TM_FILEPATH" 2&gt;&amp;1 | haskellmate
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>~@r</string>
	<key>name</key>
	<string>HLint</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.haskell</string>
	<key>uuid</key>
	<string>a495e370-e203-11df-85ca-0800200c9a66</string>
</dict>
</plist>
